@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');


:root {
    --primary-color: #fff6f9;
    --secondary-color: #ed5e93;
    --warning-color: #fbf4d7;
    --info-color: #d8daff;
}

* {
    margin: 0;
    padding: 0;

}

body {
    background-color: var(--primary-color);
}

.font-styling {
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: 0;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.navigate-links {
    margin-right: 10rem;
}

.navigate {
    border: solid red;

}

.modal-bg {
    background-color: var(--primary-color);
}

.form-input {
    background-color: var(--primary-color);
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
}

/* Contact us page */

#maincontact {
    padding: 60px 0;
    background: url('https://as1.ftcdn.net/v2/jpg/03/30/49/72/1000_F_330497250_ZzWZ6qrLWJ973kgTLI2foKjDoLBtIPbi.jpg') no-repeat center center;
        background-size: cover;
}

.contact-heading {
    color: var(--secondary-color);
}

.maindivformrows{
    display: flex;
    flex-direction: row;
    gap: 60px;
    /* flex-wrap: wrap; */
    
}



.form-control:focus {
    border-color: #5c8a63;
    box-shadow: 0 0 0 0.2rem rgba(92, 138, 99, 0.25);
    background-color: rgba(156, 173, 181, 0.8);
}

.formme {
    background-color:rgba(156, 173, 181, 0.3);
    /* 0.0 = fully transparent, 1.0 = fully white */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}


.submitbtn {
    background-color: var(--secondary-color);
    color: rgb(235, 229, 229);
}

.submitbtn:hover {
    background-color: #3c6742;
}


.form-control:focus {
            border-color: #5c8a63;
            box-shadow: 0 0 0 0.2rem rgba(92, 138, 99, 0.25);
        }

.bkgimg {
    border: 0;
    width: 70%;
    height: 250px;
    border-radius: 10px;
}

/* feedback form */

