@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');


:root {
    --primary-color: #fff6f9;
    --secondary-color: #ed5e93;
    --warning-color: #fbf4d7;
    --info-color: #d8daff;
}

* {
    margin: 0;
    padding: 0;

}

body {
    background-color: var(--primary-color);
}

.font-styling {
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: 0;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.navigate-links {
    margin-right: 10rem;
}
.nav-icon{
    width: 50px;
    font-weight: bold;
}


.navigate {
    border: solid red;

}
.navigation-text:hover{
    color: var(--secondary-color);
}
.text-coloring{
    color: var(--secondary-color);
    
}

.btn-custom{
    width:  8rem;
    margin-top: .5rem;
    margin-left: 11rem;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.btn-custom:active{
    outline-color: var(--secondary-color);
    color: var(--secondary-color);
}
.modal-bg {
    background-color: var(--primary-color);
}

.form-input {
    background-color: var(--primary-color);
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
}

/* Contact us page */

.contact-section {
    padding: 60px 0;
}

.contact-heading {
    color: var(--secondary-color);
}





.form-control:focus {
    border-color: var(--secondary-color);
    box-shadow: 0 0 0 0.2rem var(--primary-color);
}

.form-box {
    background-color: var(--secondary-color);
    /* 0.0 = fully transparent, 1.0 = fully white */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}


.btn-yoga {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.btn-yoga:hover {
    outline: none;
   outline-color: var(--primary-color);
   background-color: var(--primary-color);
   color: var(--secondary-color);
}

iframe {
    border: 0;
    width: 70%;
    height: 250px;
    border-radius: 10px;
}



.image-sizer{
    width: 200px;
}







.form-format-appointment{
    border-radius: .5rem;
    background: none;
    color: var(--secondary-color);
    
}
.apt-heading{
    color: var(--secondary-color);
}

.btn-cus-apt{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border:none; 
    border-radius: .5rem;
}

.btn-cus-apt:hover{
    border:solid var(--secondary-color);
}

.text-area-s{
    height: 50px;
    resize: none;
}





